include mmail/mmailer.py
include LICENSE
include mmail/__init__.py
include README
include versioneer.py
include mmailer
include tests/*.py
include tests/samples/*.txt
include tests/samples/*.csv
include tests/samples/*.gz
